{% extends 'base.html' %} {% block content %}
<!gfklgkdf ->

<!gfklgkdf ->
{% for key,value in price.DISPLAY.items %}
<strong>Name: </strong>{{ key }} <br />
<strong>Price: </strong> {{value.USD.PRICE}} <br />
<strong>Daily High: </strong> {{value.USD.HIGHDAY }} <br />
<strong>Daily Low: </strong> {{ value.USD.LOWDAY }} <br />
<strong>MarketCap: </strong> {{ value.USD.MKTCAP}} <br />
<br />
{% endfor %}

<div class="container-fluid py-5 text-white bg-dark rounded-2">
  <h1 class="display-5 fw-bold">Custom jumbotron</h1>
  <p class="col-md-8 fs-4">
    Using a series of utilities, you can create this jumbotron, just like the
    one in previous versions of Bootstrap. Check out the examples below for how
    you can remix and restyle it to your liking.
  </p>
  <button class="btn btn-primary btn-lg" type="button">Example button</button>
</div>
<br />

<div class="container">
  <div class="row">
    {% for x in api.Data %}
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="{{x.imageurl}}" class="card-img-top" alt="{{x.source}}" />
        <div class="card-body">
          <h5 class="card-title">{{x.title}}</h5>
          <p class="card-text">{{x.body}}</p>
          <a href="{{x.url}}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
